body {
    background-image: url('../assets/bg/allBg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    display: none; /* 对于WebKit (Chrome, Safari, 新版Edge) 浏览器 */
}
